.navbar{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.navIcon{
    position: absolute;
    right: 50px;
    height: 20px;
    width: 20px;
    top:30px ;
    z-index: 500;
    cursor: pointer;
    background: pink;

}
.line1{
    width: 15px;
    position: absolute;
    height: 1px;
    background: black;
    /* right: 67px; */
    z-index: 50; 
    transition: transform .3s;
}
.line1Action{
    width: 15px;
    position: absolute;
    height: 1px;
    background: black;
    /* right: 67px; */
    z-index: 50;
    transform: rotate(45deg);
    top: 5px;
    transition: transform .3s;
}


.line2{
    width: 15px;
    position: absolute;
    height: 1px;
    background: black;
    /* right: 67px; */
    z-index: 50;
    top: 7px;
    transition: transform .3s;
}
.line2Action{
    width: 15px;
    position: absolute;
    height: 1px;
    background: black;
    /* right: 67px; */
    z-index: 50;
    transform: rotate(-45deg);
    top: 5px;
    transition: transform .3s;
}

.navContainer{
    display: block;
    width: 50%;
    height: 100%;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 5s;

}

.navContainerActive{
    display: none;
    transition: all 2s;
}