
.button{
    margin-top: 15px;
}
.btn{
    padding: 10px 13px;
    background: green;
    outline: none;
    font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: normal;
    border: none;
    cursor: pointer;
}