.items{
    overflow: hidden;
}

.itemsContainer{
    font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s;

}

.itemsContainer:hover .imgBox{
    transform: scale(1.1);
    transition: transform .3s;
    opacity: .8;
}

.imgBox{
    height: 134px;
    width: 98px;
    background-size:contain ;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
    transition: transform .3s;

}

.title{
    margin: 0;

}
.price{
    margin: 5px;

}